
body{
    margin: 0;
    padding: 0;
    
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #270a77;
    /* overflow: hidden; */
    /* height: fit-content; */
    /* scroll-margin: 100%; */
    /* animation: movies 2s; */
}

#titulo{
    font-size: 40px;
    text-align: left;
    margin: 30px;
    max-width: 100%;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}
#titulo2{
    font-size: 40px;
    text-align: left;
    margin: 30px;
    max-width: 100%;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}
/* Slide */
.slide3 img{
    width: 100%;
    /* height: 600px; */
    overflow: hidden;
    opacity: 0.6;
    animation: movies 2s;

}
.slide4{
    height: 500px;
    overflow: hidden;
}

.textoSlide{

    position: absolute;
    top:10px;
    width: 1000px;
    margin-left: 30px;
    font-size: 60px;
    color: white;
    z-index: 1;
    text-shadow: 2px 2px 2px black;
}
.textoSlide2{ 
    position: absolute;
    top:200px;
    margin-left: 30px;
    font-size: 20px;
    width: 1000px;
    color: white;  
    z-index: 1;
    text-align: justify;
    text-shadow: 2px 2px 2px black;
}
.textoSlide3{ 
    position: absolute;
    top:420px;
    margin-left: 30px;
    font-size: 20px;
    width: 90%;
    color: white; 
    z-index: 1; 
    background-color: rgb(134, 97, 236);
    width: fit-content;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 1px 1px 2px black;
}









.movies{
    width: 100%;
    height: 768px;
    display: grid;
    grid-template-columns: repeat(5,20%);
    justify-items: center;

    
    
}
.pelicula{
    padding:20px;
}
.movie{
    text-decoration: none;
    box-shadow: 210px 2px 2px rgb(246, 246, 246);
    
}
.movie img{
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 2px 2px  5px rgb(0, 0, 0);
    /* box-shadow: ; */
    
    
    
}
@keyframes movies {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 0.6;
    }
    
}
.imagen{
    position: relative;
    width: 200px;
    height: auto;
    animation-name: movies;
    animation-duration: 1s;
    animation-timing-function: linear;
    
    
    /* opacity: ; */

}

.imagen >div > p{
    background-color: rgb(116, 70, 243);
    padding: 4px;
    border-radius: 15px;
    position: absolute;
    right: 10px;
    bottom: 0px;
    color: white;
    text-shadow: 1px 2px 2px black;
    color: ;
    
   
}



.year{
    background-color: black;
}

.rank{
    background-color: rgb(134, 97, 236);
    /* padding: 1px; */
    border-radius: 15px;
    position: absolute;
    left: 10px;
    bottom: 100px;
    color: white;
    text-shadow: 1px 2px 2px black;
    width: fit-content;
}

.movie h2 ,p {
    
    color: white;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    text-align: center;
    max-width:100% ;
    
    
}

.container{
    position: relative;
    width: 200px;
    /* margin: 10px; */
}

.description{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgb(27, 3, 95,1);
    overflow: hidden;
    width: 100%;
    height: 300px;
    
    opacity: 0;
    transition: .6s ease;
    box-shadow: 2px 2px 2px black;
    border-radius: 5px;
}
.container:hover .description{
    opacity: 1;
    background-color: rgb(27, 3, 95,0.8);
}
.texto{
    font-size: 15px;

}
.texto2{
    padding-inline: 10px;
    text-align: center;
    height: 160px;
    overflow: auto;
}
.texto2::-webkit-scrollbar{
    -webkit-appearance: none;
}
.texto2::-webkit-scrollbar:vertical {
    width:5px;
    margin: 1px;
}
.texto2::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
}
.texto2::-webkit-scrollbar:horizontal {
    height: 10px;
}

.texto2::-webkit-scrollbar-thumb {
    background-color: #5215df3b;
    border-radius: 20px;
    border: 2px solid #6812be;
}

.texto2::-webkit-scrollbar-track {
    border-radius: 10px;  
} 

.navBar{
    display:flex;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    /* width: 100%; */
    
    top: 0px;
    z-index: 2;
    background-color: #1b035f;
    /* padding-inline: 30px; */
}
.busqueda{
    display: flex;
    align-items:center ;
    justify-content: center;
    
    
}
.logoMenu{
    display: none;
    padding: 10px;
    height: fit-content;
    margin: 15px;
    background-color: #896cd8;
    color: white;
    border: 1px transparent;
    border-radius: 5px;
}
.menu{
    display: flex;
    justify-content: space-between;
    width: 60%;
    float: right;
}
.menu2{
    display: none;
    justify-content: space-between;
    width: 60%;
    float: right;
}
.navBar input{
    
    color: white;
    background-color: #4b13e6;
    padding: 5px;
    border-radius: 5px 0px 0px 5px;
    height: 20px;
    border: transparent;
    margin: right;
    
}

.search{
    color: white;
    background-color: #6a3ce9;
    
    border-radius: 0px 5px 5px 0;
    height: 30px;
    border:2px transparent;
}
.search:hover{
    background-color: #9477e6;
}
.navBar input::placeholder { 
    color: rgb(233, 233, 233);
    opacity: 0.6;
}


.logo{
    
    color: white;
    text-decoration: none;
    float: left;background-color: #1b035f;
    padding: 16.1px 0 16.1px 40px ;
    
}

.navBar ul{
    display: flex;
    
    
}
.navBar li{
    margin-inline: 10px;
    list-style-type: none;
    color: white;
    /* padding-block: 15px; */
}
.navBar li:hover{
    background-color:#5d28ee ;
}
.userNav{
    display:flex;
}
.userNav li{
    /* list-style-type: none; */
    text-decoration: none;
    color: white;
    background-color: #9b79f8;
    padding: 6px;
    margin: 0 10px;
    border-radius: 10px;
}
.userNav button{
    color: white;
    background-color: #9b79f8;
    padding: 6px;
    border-radius: 10px;
}
.navlog{
    text-decoration: none;
    color: white;
    background-color: #9b79f8;
    padding: 6px;
    border-radius: 10px;
    width: 100%;
    margin: 0 10px;
}
.navlog:hover{
    background-color: #5d28ee;

}
/* Details */
.soloPeli{
    display: flex;
    justify-content: center;
    animation-name: movies;
    animation-duration: 1s;
    animation-timing-function: linear;
    
    
    
}
.soloPeli img{
    height: 450px;
    /* margin-right: 32px; */
    margin: 30px 36px 30px 0px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgb(173, 79, 211);
    /* width: 55%; */
}
.detalles{
    margin-left: 20px;
    color: white;
    width: 45%;
}
.detalles h2{
    font-size: 40px;
}
.detalles p{
    justify-self: center;
    max-width: 100%;
    text-align: justify;
    color: rgb(149, 149, 149);
}
.detalles > p >span {
    color: white;
    
}
.comentarios{
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    width: 71%;
    background-color: #6139e2;
    padding: 10px;
    border: 1px transparent;
    border-radius: 5px;
    box-shadow: 2px 2px 2px black;
}
.comentarios textarea{
    background-color: #b9a4f0;
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ; */
    height: 100px;
    box-shadow: 1px 1px 2px black;
    border-radius: 6px;


}
.comentarios button{
    margin: 0px 0px 0px auto;
    padding: 10px;
    background-color: #2407c7;
    color: white;
    border: 1px transparent;
    border-radius: 6px;
    box-shadow: 1px 1px 2px black;
}
.reviews{
    display: flex;
    margin: 50px auto;
    width: 70%;


    
}
.reviews h3 {
    display: flex;
    margin: 0 10px;
    padding: 20px;
    text-align: center;
    width: 60px;
    height: 60px;
    align-items: center;
    justify-content: center;
    
    background-color: #6812be;
    border-radius: 100%;
}
.review {
    width: 80%;
    
    margin: 0px 10px;
    font-size: 20px;

}
.review p{
    text-align: justify;
    margin: 15px 10px;
}
.reviews button{
    height: fit-content;
    width: fit-content;
    padding: 10px;
    background-color: #2407c7;
    color: white;
    border: 1px transparent;
    border-radius: 6px;
    box-shadow: 1px 1px 2px black;
}
.categoria{
    text-decoration: none;
    color: white;
    background-color: #9b79f8;
    padding: 6px;
    border-radius: 10px;
    width: fit-content;
    margin: 0 10px;
}
.categorias{
    
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: fit-content;
    width: 200px;
    position: absolute;
    right: 70px;
    top: 63px;
    background-color: rgb(134, 102, 223);
    border-radius: 0px 0px 5px 5px;
    animation-name: movies;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    
    
}

.categorias ul:hover{
    background-color:rgb(210, 199, 240) ;
}
.categorias2{
    
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: fit-content;
    width: 200px;
    position: absolute;
    right: 0px;
    top: 110px;
    background-color: rgb(134, 102, 223);
    border-radius: 0px 0px 5px 5px;
    animation-name: movies;
    animation-duration: 0.1s;
    animation-timing-function: linear;
    
    
}
.categorias2 li{  
    color: white;
    height: 100%;
    
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    animation-name: movies;
    animation-duration: 0.5s;
    animation-timing-function: linear;

}

.categorias2 ul:hover{
    background-color:rgb(210, 199, 240) ;
}
.menuDesplegable{
    
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: fit-content;
    width: fit-content;
    position: absolute;
    right: 0px;
    top: 70px;
    background-color: rgb(134, 102, 223);
    border-radius: 0px 0px 5px 5px;
    animation-name: movies;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    
    
}
.categorias li{  
    color: white;
    height: 100%;
    
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    animation-name: movies;
    animation-duration: 1s;
    animation-timing-function: linear;

}



input[type="radio"] {
    display: none;
  }
  
  label {
    color: grey;
  }
  .clasificacion {
      float: left;
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  
  
  label:hover,
  label:hover ~ label {
    color: orange;
  }
  
  input[type="radio"]:checked ~ label {
    color: orange;
  }



/* LOGIN */
.contenedor-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    width: 30%;
    background-color: #6812be;
    padding:0px 50px 10px 50px;
    margin: 20px auto;
    box-shadow: 1px 1px 2px black;
    border-radius: 10px;
    
}

.formulario{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    
    background-color: #6812be;
    
    margin: 20px auto; */
    
    
}
.input{
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 60%;
    background-color: rgb(140, 0, 255);
    margin: 5px auto;
    border-radius: 5px;
    border: solid transparent;
    box-shadow: 2px 2px 1px;
    font-size: 17px;
    text-align: left;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}
.input:focus{
    background-color: rgb(209, 193, 223);
    color: white;
}
.input::placeholder { color: rgb(249, 249, 255,0.5); }
.regis {
    text-decoration: none;
    background-color:#460be6 ;
    color: white;
    width: 50%;
    text-align: center;
    margin: 2px auto;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid transparent;
    box-shadow: 1px 1px 2px black;
    font-size: 22px;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    
}
.registrate{
    /* text-decoration: none; */
    color: rgb(255, 255, 255);
    
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    font-size: 18px;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}
@media only screen and (min-width:1368px ){
    .menu2{
        display: none;
    }
    .imagen{
        width: 250px;
    }
    .container{
        width: 250px;
    }
    .description{
        height:375px;
    }
    .soloPeli img{
        height: 600px;
        
    } 
    .detalles h2{
        font-size: 55px;
    }
    .detalles p{

    }
    .texto2{
        height: 240px;
    }
    .slide{
        width: 100%;
        padding: 0 250px;
    }
    .textoSlide{
        width: 1500px;
        top: 100px;
        font-size: 55px;
    }
    .textoSlide2{
        width: 1300px;
        height: 200px;
        overflow: hidden;
        top: 300px;
    }
    .textoSlide3{
        
        top: 460px;
    }
    .slide4{
        height: 600px;
    }
}





@media only screen and (max-width:1024px){
    .movies{
        grid-template-columns: repeat(3,33%);
    }
    .imagen{
        width: 250px;
    }
    .container{
        width: 250px;
    }
    .description{
        height:380px;
    }
    .soloPeli img{
        height: 300px;
        
    } 
    .texto2{
        height: 250px;
    }
    .textoSlide{
        width: 700px;
        top: 30px;
        font-size: 55px;
    }
    .textoSlide2{
        width: 700px;
        height: 200px;
        overflow: hidden;
        top: 250px;
    }
    .textoSlide3{
        
        top: 480px;
    }
    .slide4{
        height: 600px;
    }
    .slide3 img{
        
        height: 600px;
        
    
    }
}
@media only screen and (max-width:768px){
    .movies{
        grid-template-columns: repeat(3,33%);
    }
    .movie h2 {
        font-size: 17px;
    }
    .movie p{
        font-size: 12px;
    }
    .imagen{
        width: 200px;
    }
    .container{
        width: 200px;
    }
    .description{
        height:300px;
    }
    .soloPeli img{
        height: 280px;
        
    } 
    .menu{
        display: none;
    }
    .menu2{
        display: flex;
    }
    .logoMenu{
        display: block;
    }
    .texto2{
        height: 200px;
    }
    .textoSlide{
        width: 700px;
        top: 20px;
        font-size: 40px;
        overflow: hidden;
    }
    .textoSlide2{
        width: 600px;
        height: 100px;
        overflow: auto;
        top: 150px;
    }
    .textoSlide3{
        
        top: 300px;
    }
    .slide4{
        height: 400px;
    }
    .slide3 img{
        
        height: 400px;
        
    
    }
}
@media only screen and (max-width:625px){
    .movies{
        grid-template-columns: repeat(2,50%);
    }
    .movie h2 {
        font-size: 20px;
    }
    .movie p{
        font-size: 15px;
    }
    .imagen{
        width: 230px;
    }
    .container{
        width: 230px;
    }
    .description{
        height:350px;
    }
    .soloPeli img{
        height: 280px;
        margin: 40px 0;
        
    } 
    .soloPeli p{
        font-size: 12px;
        
    }
    .soloPeli h2{
        font-size: 30px;
    }
    #titulo{
        font-size: 20px;
    }
    .texto2{
        height: 240px;
    }
    .textoSlide{
        width: 480px;
        top: 20px;
        font-size: 30px;
        overflow: hidden;
    }
    .textoSlide2{
        width: 440px;
        height: 100px;
        overflow: auto;
        top: 130px;
    }
    .textoSlide3{
        
        top: 300px;
    }
    .slide4{
        height: 400px;
    }
    .slide3 img{
        
        height: 400px;
        
    
    }
}
@media only screen and (max-width:480px){
    .movies{
        grid-template-columns: repeat(1,100%);
    }
    .movie h2 {
        font-size: 20px;
    }
    .movie p{
        font-size: 15px;
    }
    .imagen{
        width: 250px;
    }
    .container{
        width: 250px;
    }
    .description{
        height:375px;
    }
    .soloPeli img{
        height: 280px;
        margin: 40px 0;
        
    } 
    .soloPeli p{
        font-size: 12px;
        
    }
    .soloPeli h2{
        font-size: 30px;
    }
    #titulo{
        font-size: 20px;
    }
    .texto2{
        height: 270px;
    }
    .textoSlide{
        width: 300px;
        top: 20px;
        font-size: 25px;
        overflow: hidden;
    }
    .textoSlide2{
        width: 330px;
        height: 100px;
        overflow: auto;
        font-size: 12px;
        top: 110px;
    }
    .textoSlide3{
        
        top: 220px;
        font-size: 12px;
    }
    .slide4{
        height: 300px;
    }
    .slide3 img{
        
        height: 300px;
        
    
    }
}
@media only screen and (max-width:400px){
    .movies{
        grid-template-columns: repeat(1,100%);
    }
    .movie h2 {
        font-size: 20px;
    }
    .movie p{
        font-size: 15px;
    }
    .imagen{
        width: 250px;
    }
    .container{
        width: 250px;
    }
    .description{
        height:375px;
    }
    .soloPeli{
        flex-direction: column;
        
        align-items: center;
    }
    .soloPeli img{
        height: 300px;
        margin: 40px 0 0 0;
        
    } 
    .soloPeli p{
        font-size: 14px;
        
    }
    .soloPeli h2{
        font-size: 30px;
    }
    .detalles{
        width: 75%;
    }
    #titulo{
        font-size: 20px;
    }
    .texto2{
        height: 270px;
    }
    .textoSlide{
        width: 300px;
        top: 20px;
        font-size: 25px;
        overflow: hidden;
    }
    .textoSlide2{
        width: 280px;
        height: 100px;
        overflow: auto;
        font-size: 12px;
        top: 110px;
    }
    .textoSlide3{
        
        top: 220px;
        font-size: 10px;
    }
    .slide4{
        height: 300px;
    }
    .slide3 img{
        
        height: 300px;
        
    
    }
}

    






